<h1>
    <b>Zero Hunger</b>
</h1>
<hr />
<section>
    <p>
        <a href="/Admin" >Login as admin</a><br />
        <a href="/Restaurant/Login" >Login as restaurant</a><br />
        <a href="/Employee/Login" >Login as employee</a><br />
    </p>
</section>